In [2]:
from selenium import webdriver
import pandas as pd
import requests
driver = webdriver.Chrome()
from bs4 import BeautifulSoup
url="https://www.thesouledstore.com/men/t-shirts"
driver.get(url)

In [47]:
soup = BeautifulSoup(driver.page_source, 'html.parser')
#print(soup.prettify())

In [48]:
thesouledstore_tshirt=[]
from typing import Text
container=soup.find('div',class_="container plisting fullWidth")
articals=container.find_all('div',class_="animate-card")

for article in articals:
  name=article.find('h5',class_="text-left")
  productname=name.get_text()
  name2=article.find('div',class_="listprice ecltext")
  productsubname=name2.get_text()
  price=article.find('span',class_="offer fsemibold")
  productprice=price.get_text()
  price2=article.find('span',class_="product-price")
  if price2  is None:
        productactualprice=0
  else:
    productactualprice=price2.get_text()
  soldout=article.find('div',class_="souled-out-image-blur")
  if soldout is None:
    productsoldout=0
  else:
    productsoldout=soldout.get_text()
  
  thesouledstore_tshirt.append([productname,productsubname,productprice,productactualprice,productsoldout])

In [49]:
df=pd.DataFrame(thesouledstore_tshirt,columns=['productname','productsubname','productprice','productactualprice','productsoldout'])
df.to_csv('thesouledstore_tshirt.csv')

In [50]:
df

,productname,productsubname,productprice,productactualprice,productsoldout
0,Deadpool: Kill For Tacos,T-Shirts,₹ 799,0,0
1,Harry Potter: Hogwarts,Zipper Polos,₹ 1299,0,0
2,Naruto: Yin-Yang,Oversized T-Shirts,₹ 899,0,0
3,Naruto: Itachi Uchiha,Oversized T-Shirts,₹ 1049,0,0
4,Baki Hanma: You Shouldn't Have,Oversized T-Shirts,₹ 1299,0,0
...,...,...,...,...,...
1139,Spider-Man: The Suit,Oversized Jerseys,₹ 799,0,Souled Out
1140,"Solids: Red, Black, and White (Colourblock)",Oversized Full Sleeve T-Shirts,₹ 999,0,Souled Out
1141,Peanuts: Snoopy 50,Oversized T-Shirts,₹ 999,0,Souled Out
1142,TSS Originals: Comfortable Delusion,T-Shirts,₹ 549,0,Souled Out
1143,Solids: Pearl Grey,Henley T-Shirts,₹ 599,0,Souled Out